 .u-section-1 {
  --color-var: #2b3990;
  --text-color-var: #ffffff;
}

.u-section-1 .u-sheet-1 {
  min-height: 869px;
}

.u-section-1 .u-text-1 {
  font-family: Calvino-Grande-Black-trial;
  --text-color-var: #f1f2f2;
  margin: 115px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-family: Calvino-Grande-Black-trial;
  --text-color-var: #f1f2f2;
  margin: 82px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-family: Calvino-Grande-Black-trial;
  margin: 104px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 63px;
  height: 81px;
  margin: 154px auto 36px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 50px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 94px;
    margin-bottom: 60px;
  }
} .u-section-2 {
  background-image: url("images/03ncfkxhbwcb1copy.png");
  --border-color-var: #f2f1f1;
}

.u-section-2 .u-sheet-1 {
  min-height: 640px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 285px;
  }
}@font-face {
  font-family: 'Calvino-Grande-Black-trial';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Calvino-Grande-Black-trial.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'Calvino-Grande-Black-trial';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Calvino-Grande-Black-trial.ttf);
}